<h3>Clusters</h3>
 
<table class="table">
  <tr>
    <th>Name</th>
    <th>Group</th>
    <th>Predicted group</th>
  </tr>

<% i, gid = 1, 1 %>
<% @clusters.each do |cluster| %>
	<% cluster.each do |c| %>
  <tr class="cluster-<%= i %>">
    <td><%= c[:name].force_encoding('UTF-8') %></td>
    <td><%= c[:group].force_encoding('UTF-8') %></td>
    <td><%= gid %></td>
  </tr>
	<% end %>
	<% i = 1 - i %>
	<% gid += 1 %>
<% end %>
</table>
