<h3>Clustered data</h3>

<table id="cluster" class="table">
  <thead>
    <tr>
      <th>Predicted group</th>
      <th>Name</th>
      <th>Group</th>
    </tr>
  </thead>
  <tbody>
<% gid = 1 %>
<% @clusters.each do |cluster| %>
	<% cluster.each do |c| %>
    <tr>
      <td>Group <%= gid %></td>
      <td><%= c[:name].force_encoding('UTF-8') %></td>
      <td><%= c[:group].force_encoding('UTF-8') %></td>
    </tr>
	<% end %>
	<% gid += 1 %>
<% end %>
  </tbody>
</table>
