<h3>Upload data</h3>

<%= form_tag({:action => :cluster}, :multipart => true) do %>
	<%= label_tag("names", "Please select CSV file") %>
  <%= file_field_tag "names"%>
  <span class="help-block">
    CSV structure, e.g. <i>"company name";"group"</i>
  </span>
	<%= submit_tag "Submit", :class => "btn" %>
<% end %>
